<!DOCTYPE html>
 <html ng-app="ch-three-app">
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title>chThreeExpress</title>
 		<meta name="description" content=" " />
 		<meta name="author" content=" " />
 		<meta name="HandheldFriendly" content="true" />
 		<meta name="MobileOptimized" content="320" />
    <base href="/">
 		<!-- Use maximum-scale and user-scalable at your own risk. It disables pinch/zoom. Think about usability/accessibility before including.-->
 		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
 	</head>
 	<body>

    <ui-view></ui-view>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="/ngApp/app.js"></script>
    <script src="/ngApp/services/services.js"></script>

    <!-- grunt or gulp injection start -->
      <script src="/ngApp/components/boxerList/boxerList.js"></script>
      <script src="/ngApp/components/boxerCard/boxerCard.js"></script>
    <!-- grunt or gulp injection end -->

 	</body>
 </html>
